body {
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 12px;
    background-color: lightgrey;  
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */


#Navbar-inverse {
    background-color: #428bca;
    border-color: #428bca;
}

.navbar-inverse {
    background-color: white;
    border-color: #428bca;
}

#Navbar-brand {
    float: left;
    padding: 21px 220px;
    font-size: 18px;
    line-height: 20px;
    background-color: white;
    border-color: white;
    text-decoration: none;
    color: white;
}

h4, .h4 {
    font-size: 16px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.panel {
    margin-bottom: 10px;
    border-radius: 12px;
    border: none;
}

.panel-heading {
    padding: 5px 10px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;   
}

.back-to-list{
    padding-left: 25px;
    padding-bottom: 15px;
}

.panel-body {
    padding: 10px;
}

.btn {
    border-radius: 10px !important;
    margin: 10px;
}

.btn-sm, .btn-xs {
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 3px;
    margin: 5px;
}

.col-xs-3 {
    width: 10%;
}

.col-xs-8 {
    width: 70%;
}

.h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 1;
}

.btn {
    border-radius: 8px;
    font-size: 16px;
    margin-bottom: 20px;
}

.btn-toolbar {
    border-radius: 8px;
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.btn-success {
    color: #ffffff;
    background-color: #462;
    border-color: #4cae4c;
}

.form-control {
    border-radius: 10px;
    width: 97.5%;
}

.select {
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-color: rgb(169, 169, 169);
}

.panel-primary > .panel-heading {
    color: #ffffff;
    background-color: green;
    border-color: green;
}

.progres {
    
    background-color: #428bca !important;
    border-color: #428bca !important;
}
#Filter {
    
    top: 72%;    
    width: 47%;
    height: 34px;
    margin-left: 0;
}

#Clear {
    background-color: lightsteelblue;
    width: 47%;   
    top: 87%;
    margin-left: 0;
    height: 34px;
}

.col-md-10{
    padding: 10px;
}


#actions{
    padding-right: 0;
    width: 51%;
}

#Empty{
    color: black;    
    padding-right: 10px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

#Details{
    padding: 20px;
}

#Create {
    width: 97.5%;
    height: 34px;
    margin-left: 0px;
}

#paging-button {
    color: black;
    float: left;
    padding: 80px 573px;
    text-decoration: none;
    transition: background-color .3s;
    border: 0px solid #ddd;
    margin: -50px 4px;
}

.alert {
    border-radius: 19px;
}


#Search-sort {
    padding-top: 10px;
}

h4, h5, h6 {
    margin-top: 1px;
    margin-bottom: 1px;
}



#checkBoxAll {
    margin: 21px 0 0;
    margin-top: 1px \9;
    line-height: normal;
}

.RemoveButton, .EditButton, .DetailsButton {
    font-size: 12px;
}

.container-fluid {
    padding-left: 10px;
    padding-right: 10px;
}


